.header {
    display: flex;
    height: var(--header-height);
    min-height: var(--header-height);
    max-height: var(--header-height);

    padding: 10px;

    border: 0px;
    border-bottom: 2px solid var(--accent);
}

.leftDiv {
    display: flex;
    justify-content: left;

    flex-shrink: 2;
    flex-grow: 1;
    width: 100%;
}

.centerDiv {
    flex-shrink: 1;
    flex-grow: 2;
    width: 100%;
}

.rightDiv {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;

    flex-shrink: 2;
    flex-grow: 1;
    width: 100%;
}
