.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(calc(var(--sidebar-width)*-1));
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--sidebar-width);

    background-color: var(--secondary-bg);
}

#navBtnWrapper {
    display: flex;
    height: var(--header-height);
    min-height: var(--header-height);
    max-height: var(--header-height);

    padding: 10px;
    border-bottom: 2px solid var(--accent);

    justify-content: end;
}

#menuItems > button {
    display: flex;
    width: 100%;

    border-radius: 0px;
}

#menuItems > button:hover {
    border: none;
    background-color: var(--accent);
}



.sidebar-open {
    transform: translateX(0);
    transition-duration: 0.3s;
}