@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  font-family: Roboto, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #FFFFFF;
}

[data-theme="light"] {
  --primary-bg: #FAF9F9;
  --secondary-bg: #EEEEEE;
  --primary-fg: #1E212B;
  --secondary-fg: #252A34;
  --accent: #a2d2ff;
  --accent-darker: #308EC5;
  --positive: #37FF8B;
  --warning: #FFC800;
  --errror: #D81E5B;
  --info: #1E212B;

  --black: #1E212B;
}

[data-theme="dark"] {
  --primary-bg: #1E212B;
  --secondary-bg: #252A34;
  --primary-fg: #F0F7EE;
  --secondary-fg: #F5F5F5;
  --accent: #a2d2ff;
  --accent-darker: #308EC5;
  --positive: #37FF8B;
  --warning: #FFC800;
  --errror: #D81E5B;
  --info: #F0F7EE;

  --black: #1E212B;
}

html, body {
  background-color: var(--background-color);
  margin: 0;
  height: 100%;
}